.header{
    font-size: 20px;
    text-align: center;
    margin: 60px auto;
}
.header span{
    display: block;
}
.section{
    padding: 30px;
}
.form-header, .section-header{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 900;
}
.form{
    border: solid 2px #2727d9;
    padding: 30px 20px;
}
.video{
    margin-bottom: 30px;
}
.form-btn{
    background-color: #2727d9;
    padding: 12px auto;
}
.form input{
    margin-bottom: 12px;
}
.feature{
    margin: 60px auto;
}
.feature p{
    margin-top: 20px;
}
.feature-box{
    height: 160px;
}